@redColor: #FF0000;
@greenColor: #00FF00;
@blueColor: #0000FF;
@whiteColor: #FFFFFF;
@blackColor: #000000;
@grayColor: #A0A0A0;
@lightGray: #E0E0E0;
@ourGreen: #959F0A;
@lightBlue: #4EB3D1;

.bg-red {
	background-color: @redColor;
}

.bg-green {
	background-color: @greenColor;
}

.bg-blue {
	background-color: @blueColor;
}

.bg-white {
	background-color: @whiteColor;
}

.bg-black {
	background-color: @blackColor;
}

.bg-our-green {
	background-color: @ourGreen;
}

.bg-light-blue {
	background-color: @lightBlue;
}

.fg-white {
	color: @whiteColor;
}

.fg-black {
	color: @blackColor;
}

.fg-gray {
	color: @grayColor;
}

.fg-light-gray{
	color: @lightGray;
};
