body {
	font-family: Arial;
}

.font-tiny {
	font-size: 8pt;
};

.font-small {
	font-size: 10pt;
};

.font-medium {
	font-size: 12pt;
}

.font-large {
	font-size: 18pt;
}

.font-big {
	font-size: 25pt;
}