@import "page.less";
@import "colors.less";
@import "fonts.less";
@import "slider.less";

.button {
	.bg-white;
	.fg-black;
	display: inline-block;
	text-decoration: none;

	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;

	border-radius: 3px;	
}

.div-header {	
	width: 100%;	
	background: url(../images/header_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat no-repeat;	

	.div-menu {		
		width: 80%;	
		margin: auto;
		display: table;				
		padding-left: 20px;
		padding-right: 20px;

		border-bottom: 1px solid white;

		& a {
			.fg-white;

			text-decoration: nonde;			
			display: inline-block;
			padding-left: 15px;
			padding-right: 15px;
		}

		& a:hover {
			color: @ourGreen;
		}

		& > div.row {
			display:table-row;

			& > div.left {
				display: table-cell;
				text-align: left;
				vertical-align: middle;			
			}

			& > div.right {
				display: table-cell;
				text-align: right;
				vertical-align: middle;

				& img {
				padding-bottom: -15px;					
					height: 20px;
				}

				& > a.sign-button {
					border: 1px solid white;
					border-radius: 5px;
				}
			}
		}		
	}//div-menu

	& > div.header-slider {
		width: 100%;
		margin: auto;

		& div.title {
			display: block;		
			text-align: center;

			padding: 20px;
			padding-bottom: 30px;			

			& > a {
				.fg-white;
			}
		}

		& input.input {
			height: 20px;			
		}

		& a.button {
			.fg-white;
			.bg-our-green;

			border-radius: 3px;
			height: 20px;
		}


		& > div.carrousel {
			display: table;
			width: 100%;

			padding-bottom: 20px;

			& > div {
				display: table-row;				

				& > div.slider-left-button {
					display: table-cell;
					vertical-align: middle;
					text-align: right;
					padding-left: 30px;					
					
					& a {
						.fg-white;
						.font-big;

						text-align: center;
						display: inline-block;
						width: 40px;
						height: 40px;

						border-radius: 20px;
						border: 1px solid white;
					}
				}

				& > div.content {
					display: table-cell;
					vertical-align: middle;
					text-align: center;

					& > img {
						display: block;
						width: 80vw;
						height: 50vw;
						margin: auto;

						padding-top: 20px;
						padding-top: 20px;
					}
				}

				& > div.slider-right-button {
					display: table-cell;
					vertical-align: middle;
					text-align: left;
					padding-right: 30px;

					& a {
						.fg-white;
						.font-big;

						text-align: center;
						display: inline-block;
						width: 40px;
						height: 40px;

						border-radius: 20px;
						border: 1px solid white;
					}
				}
			}
		}
	}
}

.div-workspaces {
	.div-page-section-with-title;

	text-align: center;		

	& > div.title {
		.fg-black;
	}

	& > div.column-2 {				
		margin: 20px;
		vertical-align: top;

		& > div.text {
			.fg-black;
		}

		& img.workspaces {
			margin-top: 10px;

			width: 300px;
			height: 100px;
		}
	}

	& div.command {
		.fg-black;

		text-align: left;
		margin: 10px;
	}

	& div.out {
		.fg-gray;

		text-align: left;
		margin: 10px;		
	}

	& div.cursor {
		display: inline-block;
		background: #111;
		width: 10px;
		margin-left: 1px;

		-webkit-animation: blink 1s step-end 0s infinite;
		-moz-animation: blink 1s step-end 0s infinite;
		-ms-animation: blink 1s step-end 0s infinite;
		-o-animation: blink 1s step-end 0s infinite;
	}

	@-webkit-keyframes blink {
		0%   { background: #FFF }
		47%  { background: #000 }
		50%  { background: #000 }
		97%  { background: #000 }
		100% { background: #FFF }
	}

	@-moz-keyframes blink {
		0%   { background: #FFF }
		47%  { background: #000 }
		50%  { background: #000 }
		97%  { background: #000 }
		100% { background: #FFF }
	}

	@-ms-keyframes blink {
		0%   { background: #FFF }
		47%  { background: #000 }
		50%  { background: #000 }
		97%  { background: #000 }
		100% { background: #FFF }
	}

	@-o-keyframes blink {
		0%   { background: #FFF }
		47%  { background: #000 }
		50%  { background: #000 }
		97%  { background: #000 }
		100% { background: #FFF }
	}
}

.div-collaboration {
	.bg-green;

	& div.title {
		display: block;		
		text-align: center;

		padding-bottom: 30px;		

		& > a {
			.fg-white;
		}
	}	

	text-align: center;

	background: url(../images/collaboration_bg.png);
	background-size: cover;
	background-repeat: no-repeat no-repeat;

	padding-top: 40px;	

	& > ul {		
		.slider(80vw, 100vh);

		margin: auto;
		width: 80vw;

		padding: 5px;
		border: 0px;
	}

	& video {		
		object-fit: fill;
		margin-top: 20px;
	}	
}

.div-preview {
	.bg-white;
	.fg-black;	

	text-align: center;

	& > div.description {
		display: inline-block;

		max-width: 93vw;

		width: 300px;

		padding: 3vw;

		vertical-align: top;

		text-align: left;
	}

	& > div.video {
		display: inline-block;

		& img {
			max-width: 93vw;
			width: 400px;
			height: 300px;
			padding: 3vw;
		}
	}
}

.div-features {			
	background: url("../images/featuresbg.jpg");
	background-size: cover;
	background-repeat: no-repeat no-repeat;
	background-position: 0px 0px;

	vertical-align: top;	
	text-align: center;

	.div-page-section-with-title;

	& > div.title {
		.fg-white;
	}

	& > div.feature {		
		.bg-white;
		.fg-black;

		margin: 3vw;

		vertical-align: top;

		display: inline-block;

		width: 300px;

		border-radius: 7px;

		overflow: hidden;

		& > img {
			display: block;			

			width: 300px;
			height: 170px;
		}

		& > div.description {
			padding: 5px;
			text-align: center;

			& a {
				.fg-black;
				text-decoration: none;
			}
		}		
	}

	& > div.more {
		.font-big;
		.bg-white;

		position: relative;
		left: calc(50% - 3);		

		margin-bottom: -70px;

		width: 78px;
		height: 78px;

		border-radius: 78px;

		border: 10px solid @lightBlue;			
		z-index: 99px;

		color: @lightBlue;

		a {
			display: block;
			margin-top: 20px;
			text-decoration: none;
			color: @lightBlue;
		}
	}	
}

.div-users {
	.bg-white;
	.fg-black;

	.div-page-section-with-title;

	padding-left: 50px;
	padding-right: 50px;

	text-align: center;

	& > div.user {
		.font-large;

		display: inline-block;
		vertical-align: top;
		text-align: left;

		padding-right: 20px;

		width: 40vw;		

		& > img {
			.img-round(51px);

			float: left;

			width: 102px;
			height: 102px;
		}		

		& > a {
			.fg-black;				
			text-decoration: none;
		}

		& > div.sign {
			.font-small;
			padding-top: 20px;
		}
	}
}

.div-companies {
	.bg-our-green;
	.fg-white;

	.div-page-section-with-title;

	& > div.companies {
		display: block;

		width: 100vw;
		text-align: center;		
	}
}

.div-footer {
	.bg-black;
	.fg-gray;

	display: block;	
	padding: 2vw;
	padding-left: 5vw;
	padding-right: 5vw;

	& > div {
		display: inline-block;
		padding: 2vw;
	}

	& > div.description {		
		max-width: 300px;

		vertical-align: top;

		& p {
			.font-small;
		}
	}

	& > div.section {		
		vertical-align: top;		

		& > a.title {
			.fg-light-gray;
			.font-medium;
			margin-top: 30px;
			margin-bottom: 10px;
			
		}

		& > a {
			.fg-gray;
			.font-tiny;
			display: block;
			text-decoration: none;
				
			padding-bottom: 3px;
		}
	}

	& > div.sign-up-section {
		vertical-align: middle;		

		& > a {			
			.fg-gray;
			margin-top: 60px;
		}
	};

	& > div.copyright {
		.font-small;
		display: block;		
	}
}