body {
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
	color: black;
}


.div-page-section-with-title {
	display: block;

	& > div.title {
		.font-big;

		display: block;		
		text-align: center;

		padding-bottom: 30px;		
	}

	padding-top: 30px;
	padding-bottom: 30px;

	z-index: 0;
}

.img-round(@radius) {
	border-radius: @radius;
	overflow: hidden;	
}

.column-2 {
	display: inline-block;

	width: 300px;
}