.slider(@width, @height) {
	width: @width;
	height: @height;

	& li {
		display: block;
		width: auto;
		list-style: none;

		position: absolute;		
	}	

	& video {
		height: calc(@height - 20);
		width: @width;
		vertical-align: top;
	}

	/*Radio button не показывается*/
	& input {
		display: none;		
	}

	/*Метка, привязанная к соответствующему radio button'у*/	
	& label {
		cursor: pointer;
		display: block;	
		z-index: 10;

		position: absolute;
		top: 80px;		
		
		border-radius: .5vw;
		width: 1vw;
		height: 1vw;

		/*Черный фон у не выбранной*/
		background-color: #000000;		
	}

	/*Сдвигаем метки*/
	& li:nth-child(3) label {
		left: calc(50% - 1vw);
	}

	& li:nth-child(2) label {
		left: calc(50% - 2.5vw);
	}

	& li:nth-child(1) label {
		left: calc(50% - 4.0vw);
	}

	/*& li:nth-child(4) label {
		left: 5em;
	}*/

	/*По умолчанию изображение не видно*/
	& div.content {
		opacity: 0;
		visibility: hidden;		
	}

	/*Граница для метки*/
	& label {		
		border: 1px solid white;
	}

	/*Для метки radui button которой выбран*/
	& input:checked + label {
		background-color: @whiteColor;		
	}

	/*Показываем изображение соответствующее выбранному radio button*/
	& li input:checked ~ div.content {
		opacity: 1;
		visibility: visible;
		z-index: 10;
	}
}