@redColor: #FF0000;
@whiteColor: #FFFFFF;
@grayColor: #B0B0B0;
@blackColor: #000000;

@menuBg: #B1AFA0;
@menuFg: #000000;
@menuFgSelected: #77462E;


.bg-red {
	background-color: @redColor;
}

/*Класс меню*/
.menu(@subMenuWidth, @itemHeight) {
	/*Всегда сверху*/	
	z-index: 99;
	/*Занимать строку*/
	display: block;

	/*Не отображать маркеры списка*/
	list-style: none;
	
	height: @itemHeight;

	/*Все дочерние неупорядоченные списки*/
	& ul {
		/*Не отображать маркеры списка*/
		list-style: none;		
	}

	/*Все дочерние элементы корневого меню*/
	& > li {
		/*Идут в одну строку слева*/
		float: left;
	}

	/*Все ссылки в выпадающих меню*/
	& ul li a {
		/*Занимают строку*/
		display: block;
	}	

	/*Подменю*/
	& ul {
		z-index: 99;

		/*Не покзывать*/
		display: none;
	}	

	& ul li {
		width: @subMenuWidth;
	}

	/*Подменю у корневого меню, при наведение на родительский элемент*/
	& > li:hover > ul {
		/*Показывать*/
		display: block;
		position: absolute;

		padding-left: 0px;
	}

	/*Подменю у другого выпадающего меню*/
	& ul li:hover > ul {
		/*Показывать*/		
		display: block;
		position: absolute;

		margin-top: -@itemHeight;
		margin-left: @subMenuWidth;

		padding-left: 0px;
	}

	/*Все ссылки*/
	& a {
		margin-left: 10px;
		margin-right: 10px;
		text-decoration: none;

		height: @itemHeight;
	};
}

.menu-default-style {	
	& ul {
		background-color: @menuBg;
		border-radius: 5px;
	};		
	& a {
		color: @menuFg;
	};

	& a:hover {
		color: @menuFgSelected;
	};

	& hr {
		color: @menuFgSelected;
	}

	background-color: @menuBg;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px;
};

/*Конкретное меню с определенной геометрией и стилем*/
.my-menu {
	.menu(150px, 20px);	
	.menu-default-style;
};

.slider(@width, @height) {
	width: @width;
	height: @height;

	& li {
		display: block;
		width: auto;
		list-style: none;

		position: absolute;		
	}

	& img {
		height: @height;
		width: @width;
		vertical-align: top;
	}

	/*Radio button не показывается*/
	& input {
		display: none;
	}

	/*Метка, привязанная к соответствующему radio button'у*/	
	& label {
		cursor: pointer;
		display: block;	
		z-index: 10;

		position: absolute;

		/*Квадарт 10x10*/
		width: 10px;
		height: 10px;

		/*Черный фон у не выбранной*/
		background-color: #000000;
		bottom: 10px;				
	}

	/*Сдвигаем метки*/
	& li:nth-child(1) label {
		left: .5em;
	}

	& li:nth-child(2) label {
		left: 2em;
	}

	& li:nth-child(3) label {
		left: 3.5em;
	}

	/*& li:nth-child(4) label {
		left: 5em;
	}*/

	/*По умолчанию изображение не видно*/
	& img {
		opacity: 0;
		visibility: hidden;
	}

	/*Граница для метки*/
	& label {		
		border: 1px solid red;
	}

	/*Для метки radui button которой выбран*/
	& input:checked + label {
		background-color: @whiteColor;		
	}

	/*Показываем изображение соответствующее выбранному radio button*/
	& li input:checked ~ img {
		opacity: 1;
		visibility: visible;
		z-index: 10;
	}
}

/*Конкретный слайдер с определенной геометрией и дополнительными стилями*/
.my-slider {
	.slider(600px, 400px);

	margin: auto;
	width: 600px;

	padding: 5px;
	border: 10px solid @menuBg;
}