div(class="div-collaboration")        
    ul
        li
            input(type="radio" id="slide1" name="slide" checked)
            label(for="slide1")
            div(class="content")
                div(class="title")
                    a(class="font-big") See each other <b>type</b>
                    br
                    a(class="font-large") Code together in real time
                video(autoplay loop)
                    source(src="./images/collab1.m4v" type="video/mp4")
        li
            input(type="radio" id="slide2" name="slide" checked)
            label(for="slide2")
            div(class="content")
                div(class="title")
                    a(class="font-big") You control what your share
                    br
                    a(class="font-large") Share your IDE, your workspaces, a preview or running app
                video(autoplay loop)
                    source(src="./images/collab2.m4v" type="video/mp4")
        li
            input(type="radio" id="slide3" name="slide" checked)
            label(for="slide3")
            div(class="content")
                div(class="title")
                    a(class="font-big") Never lose a line of code
                    br
                    a(class="font-large") Replay all edits and see your code at any point in time
                video(autoplay loop)
                    source(src="./images/collab3.m4v" type="video/mp4")