div(class="div-companies")
	div(class="title") This companies already work with Cloud9
	div(class="companies")
		a(href="#")
			img(src="./images/soundcloud.png")
		a(href="#")
			img(src="./images/atlassian.png")
		a(href="#")
			img(src="./images/heroku.png")
		a(href="#")
			img(src="./images/mail-chimp.png")
		a(href="#")
			img(src="./images/mozilla.png")
		a(href="#")
			img(src="./images/salesforce.png")
	