div(class="div-features")
	div(class="title").
		<b>Awesome</b> features
	div(class="feature")
		img(src="./images/feature1.png")
		div(class="description")
			a(href="#")
				h3 Built-In Terminal
				h5
					b For command-line wizardy
				span.
					Run any powerful command on your
					Ubuntu workspace or on your VM.
					Do a git push, compile your app, or
					tail server output - the Terminal
					enables any development stack.
	div(class="feature")
		img(src="./images/feature2.png")
		div(class="description")
			a(href="#")
				h3 Languge Tools
				h5
					b Make writing code a breeze
				span.
					Code Completion suggetsions appear
					as you type to help you to code faster avoid
					typos. Use the Outline view to better understand
					your code, and jump to Definition of variables for
					eays navigation.
	div(class="feature")
		img(src="./images/feature3.png")
		div(class="description")
			a(href="#")
				h3 Debugger
				h5
					b Inspect the state of yout app
				span.
					The Debugger enables you to set,
					breakpoints, step over and through,
					and inspect variables of any JS/Node.js
					app. Or jump right in to the Immediate
					Window to execute code in a debugging
					session.
	div(class="feature")
		img(src="./images/feature4.png")
		div(class="description")
			a(href="#")
				h3 Split View
				h5
					b Configure your own UI
				span.
					Simply drag any file or Termnal tab
					around to create as many split views as
					you like, in any direction. In fact, every
					part of the UI can be enabled/disabled
					to your liking.
	div(class="feature")
		img(src="./images/feature5.png")
		div(class="description")
			a(href="#")
				h3 Themes
				h5
					b Make Cloud9 more awesome
				span.
					Choose from 30+ themes and color
					schemes that control syntax highlighting
					and the UI. You can also custom style Cloud9
					by editing your stylesheet.
	div(class="feature")
		img(src="./images/feature6.png")
		div(class="description")
			a(href="#")
				h3 Run Panel
				h5
					b Run any language
				span.
					Choose from an extensive set of default
					Runners to execute your app, such as 
					Ruby, Python, PHP/Apache, CoffeeScript or
					Node.js. On run any command in a Run config,
					including environment variables.
	div(class="feature")
		img(src="./images/feature7.png")
		div(class="description")
			a(href="#")
				h3 Key Bindings Editor
				h5
					b Muscle-memory FTW!
				span.
					All keyboard command can be fully
					configured, so you don't have to learn a
					new set keystrokes. Or simply import a keymap
					file from a friend. It's like your never
					switched tools.
	div(class="feature")
		img(src="./images/feature8.png")
		div(class="description")
			a(href="#")
			h3 VIM/Emacs/Sublime Mode
			h5
				b Old school meets new school
			span.
				Used to VIM, Emacs, Sublime?
				Simply configure Cloud9 to go into one
				of these modes to get the best of both
				worlds.
	div(class="feature")
		img(src="./images/feature9.png")
		div(class="description")
			a(href="#")
			h3 Built-In Image Editor
			h5
				b Looks are everything
			span.
				Why interrupt your web development flow
				to edit an image on your machine?
				Cloud9 also sports an image editor.
				Resize, crop, rotate or flip - straight from
				the browser.
	div(class="more")
		a(href="#").
			+		
