div(class="div-footer")
	div(class="description")
		img(src="./images/small-footer-logo.png")
		p.
			Write, run, and debug code with our powerful and 
			flexible cloud IDE.
		p.
			Collaborate on your workspace publicly, or keep ot private.
			The choice is yours!
	div(class="section")
		a(class="title") Cloud9
		a(href="#") About
		a(href="#") Jobs
		a(href="#") Press
		a(href="#") Trends
		a(href="#") Terms
		a(href="#") Privacy
	div(class="section")
		a(class="title") Get Started
		a(href="#") Community
		a(href="#") Documentation
		a(href="#") Blog
		a(href="#") Support
		a(href="#") Status Page
	div(class="section")
		a(class="title") Community
		a(href="#") Fork the C9 repo
		a(href="#") Twitter
		a(href="#") Facebook
	div(class="sign-up-section")
		a(href="" class="button") SIGN UP
	div(class="copyright").
		(C) 2011-2016 Cloud9 IDE, Inc.