div(class="div-header")
	div(class="div-menu")
		div(class="row")
			div(class="left")
				a(href="#")
					img(src="./images/small-white-logo.png")
			div(class="right")
				a(href="#").
					PRICING
				a(href="#").
					SALESFORCE
				a(href="#").
					COMMUNITY
				a(href="#").
					BLOG
				a(class="sign-button" href="#").
					SIGN IN
				a(href="#" style="position: relative; top: 5px")
					img(src="./images/github.png")
					img(src="./images/bitbucket.png")
	div(class="header-slider")
		div(class="title")
			a(class="font-big") Your development in environment, in the cloud
			p
			a(class="font-large").
				Cloud 9 combines a powerfull online code editor with a full Ubuntu workspace
				in the cloud
			p
			input(class="input" type="text" placeholder="Your email address")
			a(class="button" href="#") Sign Up	
		div(class="carrousel")
			div
				div(class="slider-left-button") 
					a(href="#") &lt;
				div(class="content")
					img(src="./images/top-carrousel-1.png")
				div(class="slider-right-button") 
					a(href="#") &gt;		