div(class="div-preview")
	div(class="description")
		a(href="#")
			h2 Preview
			h3
				b In any browser
			p.
				Say goodbye to installing browser and platforms
				in virtual machines for compatibility testing.
				Live Preview enables you to interactively see what
				your web application looks in any browser!
				Just choose one of the 300+ browser/OS platform
				combinations.
			p
				a Powered by
				br
				a(href="#")
					img(src="./images/sauce-labs.png")
	div(class="video")
		a(href="#")
			img(src="./images/video.png")
