div(class="div-users")
	div(class="title") A word from our users
	div(class="user")
		img(src="./images/users1.png")
		a(href="#").
			I really believe in Cloud9 IDE. It lets out team move MUCH faster. 
			Thanks again for making the dev &amp; testing extremely easy,
			letting our dispersed team deploy new feature quicker than ever before.
		div(class="sign").
			-<b>Josh Wentz</b> Developer at consortium of US Dept of Energy/several universities
	div(class="user")
		img(src="./images/users2.png")
		a(href="#").
			You guys are doing a great job. I could code locally but my c9 environment feels
			so much more productive becouse of the features.
		div(class="sign").
			-<b>Ben Ngueyen</b> Full Stack Developer at kaarem.com
