div(class="div-workspaces")
	div(class="title") Powerful <b>Workspaces</b>
	div(class="column-2")
		h5 Setup your system without any hassle
		div(class="text").
			Simply pick your configuration and develop your app.
			No need to spend valuable development time on system setup
			and maintenance. You can create, build and run any development
			stack in seconds. We maintain it, you control it.
		div
			a(href="#")
				img(class="workspaces" src="./images/workspaces.png")
	div(class="column-2")
		h5 All freedom you'd expect
		div(class="text").
			Workspaces are powered by Docker Ubuntu containers
			that give you full freedom over your environment,
			including sudo rights. Do a git push, compile SASS,
			see server output, and Run apps easily with the built-in
			Terminal and Runners.
		div(class="command").
			sudo apt-get install imagemagick<div class="cursor">&nbsp;</div>
		div(class="out").
			Reading package list.... Done<br>
			Building dependency tree<br>
			Reading state information.... Done<br>
	div.
		Or connect Cloud9 to your own VM via SSH
