doctype html
html
	include ../templates/head.jade
	body(onload="init()")
		include ../templates/header.jade		

		include ../templates/workspaces.jade

		include ../templates/collaboration.jade

		include ../templates/preview.jade

		include ../templates/features.jade

		include ../templates/users.jade

		include ../templates/companies.jade

		include ../templates/footer.jade
